# WARNING: Make your GitHub repo Private if you are using this as it is
# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# Whitelisting
!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*



# Do not upload Secrets.yaml !!
secrets.yaml

# Ignore these files
.storage
.cloud
.google.token 
home-assistant.log
.HA_VERSION
.ring_cache.pickle
aircast.xml
auth_providers.yaml
customize.yaml
groups.yaml
*.db
*.log
lyric.conf
recorder.yaml
zones.yaml

#Ignore these folders
custom_components/
tts/
www/
